[submodule "project/job_trend"]
	path = project/job_trend
	url = git@github.com:heehehe/job_trend.git
[submodule "project/MovieRecommend"]
	path = project/MovieRecommend
	url = git@github.com:ehddnr301/MovieRecommend.git
